<h4> Import libraries pandas and numpy <h4>

In [63]:
import pandas as pd

In [3]:
import numpy as np

In [9]:
s = pd.Series([1,3,5,np.nan,6,8])

In [10]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [12]:
s = pd.Series([1,3,5,6,8])

In [13]:
s

0    1
1    3
2    5
3    6
4    8
dtype: int64

<h4> Built in Functions in Python<h4>

In [18]:
dates= pd.date_range("20240101",periods = 6)
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df  = pd.DataFrame(np.random.rand(6,4) , index=dates , columns=list("ABCD") )
df

                   A         B         C         D
2024-01-01  0.345461  0.285722  0.763148  0.812757
2024-01-02  0.620936  0.979076  0.043015  0.199234
2024-01-03  0.468542  0.838166  0.789906  0.241402
2024-01-04  0.795290  0.841437  0.029376  0.552847
2024-01-05  0.166783  0.412758  0.941329  0.989751
2024-01-06  0.059531  0.933006  0.367701  0.495413

In [23]:
df2 = pd.DataFrame(
    {
      "A" : 1.0,
      "B" : pd.Timestamp("20130102"),
      "C": pd.Series(1, index = list(range(4)), dtype="float32"),
      


    }
)

In [24]:
df2

     A          B    C
0  1.0 2013-01-02  1.0
1  1.0 2013-01-02  1.0
2  1.0 2013-01-02  1.0
3  1.0 2013-01-02  1.0

In [25]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
dtype: object

<h4> Builtin Functions in Python for datasets<h4>

In [27]:
df.head()  # data

                   A         B         C         D
2024-01-01  0.345461  0.285722  0.763148  0.812757
2024-01-02  0.620936  0.979076  0.043015  0.199234
2024-01-03  0.468542  0.838166  0.789906  0.241402
2024-01-04  0.795290  0.841437  0.029376  0.552847
2024-01-05  0.166783  0.412758  0.941329  0.989751

In [31]:
df.info()  # provides summary of data

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2024-01-01 to 2024-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [33]:
df.tail(2)

                   A         B         C         D
2024-01-05  0.166783  0.412758  0.941329  0.989751
2024-01-06  0.059531  0.933006  0.367701  0.495413

In [37]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [38]:
df.columns #

Index(['A', 'B', 'C', 'D'], dtype='object')

In [40]:
df.describe() #represent cotiles of data

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.409424  0.715028  0.489079  0.548567
std    0.276592  0.291221  0.398792  0.311020
min    0.059531  0.285722  0.029376  0.199234
25%    0.211452  0.519110  0.124187  0.304905
50%    0.407001  0.839802  0.565425  0.524130
75%    0.582837  0.910114  0.783216  0.747779
max    0.795290  0.979076  0.941329  0.989751

In [42]:
df.T  #transpose rows and columns

   2024-01-01  2024-01-02  2024-01-03  2024-01-04  2024-01-05  2024-01-06
A    0.345461    0.620936    0.468542    0.795290    0.166783    0.059531
B    0.285722    0.979076    0.838166    0.841437    0.412758    0.933006
C    0.763148    0.043015    0.789906    0.029376    0.941329    0.367701
D    0.812757    0.199234    0.241402    0.552847    0.989751    0.495413

In [44]:
df.sort_index(axis=1, ascending = False) # for columns deletion

                   D         C         B         A
2024-01-01  0.812757  0.763148  0.285722  0.345461
2024-01-02  0.199234  0.043015  0.979076  0.620936
2024-01-03  0.241402  0.789906  0.838166  0.468542
2024-01-04  0.552847  0.029376  0.841437  0.795290
2024-01-05  0.989751  0.941329  0.412758  0.166783
2024-01-06  0.495413  0.367701  0.933006  0.059531

In [45]:
df.sort_values(by = "B")

                   A         B         C         D
2024-01-01  0.345461  0.285722  0.763148  0.812757
2024-01-05  0.166783  0.412758  0.941329  0.989751
2024-01-03  0.468542  0.838166  0.789906  0.241402
2024-01-04  0.795290  0.841437  0.029376  0.552847
2024-01-06  0.059531  0.933006  0.367701  0.495413
2024-01-02  0.620936  0.979076  0.043015  0.199234

In [48]:
df["A"] # selection of columns

2024-01-01    0.345461
2024-01-02    0.620936
2024-01-03    0.468542
2024-01-04    0.795290
2024-01-05    0.166783
2024-01-06    0.059531
Freq: D, Name: A, dtype: float64

In [49]:
df[0:3]

                   A         B         C         D
2024-01-01  0.345461  0.285722  0.763148  0.812757
2024-01-02  0.620936  0.979076  0.043015  0.199234
2024-01-03  0.468542  0.838166  0.789906  0.241402

In [50]:
df["20240102":"20240104"]

                   A         B         C         D
2024-01-02  0.620936  0.979076  0.043015  0.199234
2024-01-03  0.468542  0.838166  0.789906  0.241402
2024-01-04  0.795290  0.841437  0.029376  0.552847

In [51]:
df.loc[dates[1]] # to find location in datasets

A    0.620936
B    0.979076
C    0.043015
D    0.199234
Name: 2024-01-02 00:00:00, dtype: float64

In [53]:
df.loc[:, ["A","B"]] #select index

                   A         B
2024-01-01  0.345461  0.285722
2024-01-02  0.620936  0.979076
2024-01-03  0.468542  0.838166
2024-01-04  0.795290  0.841437
2024-01-05  0.166783  0.412758
2024-01-06  0.059531  0.933006

In [55]:
df.iloc[3]   #selection of location by position

A    0.795290
B    0.841437
C    0.029376
D    0.552847
Name: 2024-01-04 00:00:00, dtype: float64

In [58]:
df.iloc[3:5 , 0:2]   # form one column to another column

                   A         B
2024-01-04  0.795290  0.841437
2024-01-05  0.166783  0.412758

In [59]:
df2 = df.copy() # for copying datasets

In [61]:
df2

                   A         B         C         D
2024-01-01  0.345461  0.285722  0.763148  0.812757
2024-01-02  0.620936  0.979076  0.043015  0.199234
2024-01-03  0.468542  0.838166  0.789906  0.241402
2024-01-04  0.795290  0.841437  0.029376  0.552847
2024-01-05  0.166783  0.412758  0.941329  0.989751
2024-01-06  0.059531  0.933006  0.367701  0.495413

In [62]:
df2["E"] = ["one","one","two","three","four","three"]
df2

                   A         B         C         D      E
2024-01-01  0.345461  0.285722  0.763148  0.812757    one
2024-01-02  0.620936  0.979076  0.043015  0.199234    one
2024-01-03  0.468542  0.838166  0.789906  0.241402    two
2024-01-04  0.795290  0.841437  0.029376  0.552847  three
2024-01-05  0.166783  0.412758  0.941329  0.989751   four
2024-01-06  0.059531  0.933006  0.367701  0.495413  three

<h4> User Defined Functions in Python <h4>

In [7]:

def greet(name):
    print("Hello, " + name + "!")

In [8]:
greet("Ali")

Hello, Ali!